*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #A82727;
}
#one{
    width: 100%;
    height: 1000px;
}
#two{
     width: 100%;
    height: 20%;
    
}
#three{
     width: 100%;
    height: 20%;

}
#four{
   width: 100%;
    height: 20%;
} 
#five{
width: 100%;
    height: 20%;
}
#second{
    position: sticky;
    top: 0px;
}
.container{
    width:100vw;
    
}
h1{
    color: wheat;
    font-size: 25rem;
}
p{
    color: white;
    font-size: 100px;
    margin-top: 100px;
}
#head{
    text-align: center;
}